<div id="calender">

<%= month_calendar do |date, eventos| %>
  <%= date.day %>
  <% eventos.each do |evento| %>
    <div>
      <% if evento.status == false %>
      <% x = " *unconfirmed*" %>
      <%= link_to evento.description + x , evento %>
     

      <% else %>
    
      <% x = " *confirmed*" %>
     <%= link_to evento.description + x , evento %> 
    </div>
     <% end %>
     <% end %>
<% end %>



