<h1> Functionalities </h1>

<h2> Secured Login/Sign up <br> Users can request appointments <br> Admin can approve appointments/Reject	 <br> Full Calendar to visualize appointments <br> Users can exchange messages with admin/vice-versa <br> Searcheable users database 
 </h2>




<p>   TECNOLOGIES USED : </p>
<li> RUBY </li>
<li> RAILS 5.0.4 </li>
<li> HTML, CSS, JAVASCRIPT/JQUERY </li>
<li> Boostrap 4</li>
<li> ACTIVERECORD </li>
<li> SQL3/POSTGRES </li>
<li> GITHUB </li>
<li> HEROKU  </li>



<br>
<p> GEMS : </p>


<li> gem 'bcrypt' </li>
<li> gem 'validates_email_format_of' </li>
<li> gem "simple_calendar", "~> 2.0" </li>
<li> gem 'bootstrap-datepicker-rails' </li>
<li> gem 'bootstrap-timepicker-rails-addon', '~> 0.5.1' </li>
<li> gem 'bootstrap-will_paginate' </li>
<li> gem 'will_paginate' </li>