
 <div class="center jumbotron">
 <h1>Welcome to Citas </h1>

  <h2>
  <h1>  <%= link_to "Log in", login_path %> </h1>
  <h2>  <%= link_to "Sign-up", new_user_path , class: "btn btn-lg btn-primary"%> </h2>
<%= image_tag("cover_img.jpg", class: "main_img") %>
   </h2>
  
</div>
