 <body class="welcome if action_name == 'welcome'">

 <h1>Welcome to Citas </h1>
<h2>  <%= link_to "Sign-up", new_user_path , class: "btn btn-lg btn-warning"%> </h2>
<%= image_tag("cover_img.png", class: "main_img") %>
<%= image_tag("LOGO.png", class: "LOGO") %>
   </h2>
  

