<div class="container ">
<footer class="footer">
  <small>
    <a href="http://www.railstutorial.org/">Citas</a>
    by <a href="https://github.com/Hatemachine01"> Julio Vasquez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      </ul>
  </nav>
</footer>
</div>